.BoardsList {
  width: 225px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding: 0;
}

.Board {
  width: 225px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding: 0;
  color: #16161680;
}

.Board:hover,
.Board:focus,
.Board:hover .Icon {
  background-color: #F6F6F7;
  color: #161616;
  stroke:#161616;
  transition: background-color var(--transition);
}

.Board:hover .icons,
.Board:focus-within .icons {
  opacity: 1;
  transition: opacity var(--transition);
}

.Board:hover::after,
.Board:focus::after {
  content: '';
  width: 4px;
  height: 61px;
  border-radius: 4px 0px 0px 4px;
  background: #BEDBB0;
  position: absolute;
  right: 0;
  transition: background-color var(--transition);
} 

.NameIcon{
  width: 160px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.ProjectName {
  width: 88px;
  height: 21px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: capitalize;
  margin: 0;
}

.Icon {
  stroke: #16161680;
  fill: transparent;
}

.Icon.dark {
  stroke: #FFF;
}

.icons{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}

.icons svg {
  fill: transparent;
  stroke:#161616;
  cursor: pointer;
}

.icons svg:hover{
  stroke:#BEDBB0;
}


@media screen and (min-width: 768px) {
  .BoardsList {
    width: 260px;
  }

  .Board{
    width: 260px;
    justify-content: space-evenly;
  }
  
}