@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.ProjectOfficeSection{
  display: flex;
  flex-direction: column; 
  background-color: #F6F6F7;
  width: 100vw;
  height: 700px;
}

.dark {
  background-color: #1F1F1F;
  color: black;
}

.violet {
  background-color: #D6D8FF;
  color: black
}

.task-card.dark{
  background-color: #161616;
}

.add-card.violet{
  background-color: #D6D8FF;
}

.ProjectOfficeSection {
  scrollbar-width: thin;
  scrollbar-color: #bedbb0 transparent;
}

.ProjectOfficeSection::-webkit-scrollbar {
  width: 8px;
}

.ProjectOfficeSection::-webkit-scrollbar-thumb {
  background-color: #bedbb0;
  border-radius: 4px;
}

.project-office-container {
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 10px;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.project-office-title {
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: left;
}

.AddColumBtn{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  gap: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}

.AddColumBtn span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #161616;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;

}

.card1 {
  width: 300px;
  height: 56px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 18px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-icons {
  display: flex;
  gap: 8px;
}

.card-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 320px;
}

.add-card {
  width: 300px;
  padding: 10px;
  text-align: center;
  background-color: #bedbb0;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.add-button {
  width: 28px;
  height: 28px;
  background: #161616;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
  border: none;
}

.filters-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-right: 8px;
}

.filters-image {
  width: 16px;
  height: auto;
}

.title-filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
}

.project-office-title {
  margin: 0;
}

.filters-section {
  display: flex;
  align-items: center;
}

.icon-image {
  size: 16px;
  gap: 8px;
  align-items: center;
}

.task-card {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 154px;
  border-radius: 8px 0px 0px 0px;
  background-color: #ffffff;
}

.left-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px;
}
.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.card-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #161616;
  margin-bottom: 16px;
  letter-spacing: -2%;
}

.bottom-left {
  display: flex;
}

.deadline-section {
  padding-left: 14px;
}

.priority-icon {
  width: 12px;
}

.priority-section {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.right-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 8px;
}

.icon {
  width: 16px;
}

.priority-section span,
.deadline-section span {
  font-family: 'Poppins', sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.02em;
  text-align: left;
}

.priority-section .priority-value,
.deadline-section .deadline-value {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
}

.priority-section .priority-value {
  display: flex;
  align-items: center;
  gap: 4px;
}

.priority-section,
.deadline-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 31px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .ProjectOfficeSection {
    padding-left: 270px;
  }

  .card-column {
    width: 350px;
  }
  .AddColumBtn,
  .card1,
  .task-card,
  .add-card {
    width: 334px;
  }

}