.FilterBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 0;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: var(--line-height);
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--black1680);
    width: 60px;
    padding: 0;
    align-self: flex-start;
    justify-self: self-end;
    cursor: pointer;
}

.dark {
    color: var(--whiteFFCC);
}

.FilterBtn.dark svg{
    stroke: var(--whiteFFCC);
}
.FilterBtn svg {
    fill: transparent;
    stroke:var(--black16);
    cursor: pointer;
}

.FilterBtn:hover,
.FilterBtn:hover svg{
    color: var(--green);
    stroke: var(--green);
    transition: color stroke var(--transition);
}

.FilterBtn.violet:hover,
.FilterBtn.violet:hover svg{
    color: var(--violet);
    stroke: var(--violet);
    transition: color stroke var(--transition);
}
