.BoardsSection {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F7;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}

.task-card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 157px;
  border-radius: 8px;
  background-color: #ffffff;
  gap: 5px;
}

.card-without {
  border-left: 4px solid #1616164D;
}
.card-low {
  border-left: 4px solid #8FA1D0;
}

.card-medium {
  border-left: 4px solid #E09CB5;
}

.card-high {
  border-left: 4px solid #BEDBB0;
}

.card-title {
  width: 256px;
  height: 21px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -2%;
  text-transform: capitalize;
  margin: 0;
}

.card-description {
  width:256px;
  height: 38px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -2%;
  overflow-x: auto;
  color: #161616B2;
}

.card-description::first-letter{
  text-transform: capitalize;
}

.ColumnsSection {
  display: flex;
  width: 100vw;
  gap: 10px;
  padding: 10px;
}

.ColumnsSection .ulButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ColumnsSection  ul {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.ColumnsSection .columnName {
  list-style: none;
  text-transform: capitalize;
  width: 300px;
  height: 56px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  border-radius: 8px;
}


.dark {
  background-color: #1F1F1F;
}
  
.violet {
  background-color: #D6D8FF;
}

.BoardsSection.dark .NameFilter h2 {
  color :#ffffff;
}

.NameFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.NameFilter h1{
  width: 100px;
  height: 21px;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #161616;
  text-transform: capitalize;
}

.AddColumBtn{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  gap: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  border-radius: 8px;
}

.AddCardBtn{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  box-sizing: border-box;
  background-color: #BEDBB0;
  border: none;
  border-radius: 8px;
  gap: 10px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 10px;
}


.BoardsSection .PriorityColor{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.priority-without {
  background-color: #1616164D;
}
.priority-low {
  background-color: #8FA1D0;
}
.priority-medium {
  background-color: #E09CB5;
}
.priority-high {
  background-color: #BEDBB0;
}

.BoardsSection.dark .AddColumBtn {
  background-color: #121212;
  color: #FFFFFF;
}

.BoardsSection .Cards{
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  width: 320px;
  margin-top: 10px;
}

.bottomCard{
  display: flex;
  align-items: center;
  border-top: 1px solid #1616161A;
  padding-top: 14px;
  margin-top: 14px;
}

.bottomCard .Svgs{
  display: flex;
  justify-content: space-between;
  width: 80px;
  position: absolute;
  right: 20px;
}

.columnName svg,
.bottomCard .Svgs svg {
  fill: transparent;
  stroke:#161616;
  cursor: pointer;
}

.columnName svg:hover,
.bottomCard .Svgs svg:hover{
  stroke: #BEDBB0;
}

.DeadlineBell{
  visibility: hidden;
}

.deadlineBell-high{
  visibility: visible;
}

.Priority,
.Deadline{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: -2%;
  color: #16161680;
}

.Priority h4,
.Deadline h4{
  width: 40px;
  height: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -2%;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  color: #161616;
}

@media screen and (min-width: 768px) {
  .NameFilter {
    padding: 20px;
    width: 98vw;
  }
  .AddColumBtn {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .BoardsSection {
    padding-left: 270px;
  }

  .NameFilter {
    padding: 20px;
    
  }
}