.BoardsSection {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F7;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.task-card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  border-radius: 8px 0px 0px 0px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.card-none {
  border-left: 4px solid #1616164D;
}
.card-low {
  border-left: 4px solid #8FA1D0;
}

.card-medium {
  border-left: 4px solid #E09CB5;
}

.card-high {
  border-left: 4px solid #BEDBB0;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.card-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #161616;
  margin-bottom: 16px;
  letter-spacing: -2%;
}

.ColumnsSection {
  display: flex;
  width: 700px;
  gap: 10px;
}

.ColumnsSection  ul {
  display: flex;
  width: 100vw;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.ColumnsSection .columnName {
  list-style: none;
  width: 300px;
  height: 56px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 18px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
}

.Icon {
  stroke: #16161680;
  fill: transparent;
}

.Icon.dark {
  stroke: #FFF;
}

.dark {
  background-color: #1F1F1F;
}
  
.violet {
  background-color: #D6D8FF;
}

.BoardsSection.dark .NameFilter h2 {
  color :#ffffff;
}

.NameFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.NameFilter h2{
  width: 100px;
  height: 21px;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #161616;
  text-transform: capitalize;
}

.AddColumBtn{
  width: 300px;
  margin-left: 3.5vw;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}

.AddColumBtn span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #161616;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
}

.BoardsSection .PriorityColor{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.priority-none {
  background-color: #1616164D;
}
.priority-low {
  background-color: #8FA1D0;
}
.priority-medium {
  background-color: #E09CB5;
}
.priority-high {
  background-color: #BEDBB0;
}

.BoardsSection.violet .AddColumBtn span{
  background-color: #5255BC;
}

.BoardsSection.dark .AddColumBtn {
  background-color: #121212;
  color: #FFFFFF;
}

.BoardsSection.dark .AddColumBtn span {
  background-color: #ffffff;
  color: #161616;
}

@media screen and (min-width: 768px) {
  .NameFilter {
    padding: 20px;
    width: 98vw;
  }
  .AddColumBtn {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .BoardsSection {
    padding-left: 270px;
    height: 100vh;
  }

  .NameFilter {
    padding: 20px;
    
  }

  .AddColumBtn {
    margin-left: 20px;
  }
}