.MainSection {
    background-color: #f6f6f7;
    min-height: 100dvh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.Text {
    width: 250px;
    height: 80px;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    margin-top: 120px;
    text-align: center;
    color: #161616B2;
    align-self: flex-start;
}

.Text span {
    color: var(--green);
}
  
.dark {
background-color: #1F1F1F;
}

.violet {
background-color: var(--white-violet);
}
.MainSection.violet span{
    color: var(--violet);
}

.MainSection.dark p{
    color: var(--white-grey);
}
 

@media screen and (min-width: 768px) {
    .Text {
        width: 350px;
    }
}
@media screen and (min-width: 1200px) {

    .Text {
    width: 450px;
    height: 72px;
    font-size: 14px;
    line-height: 18px;
    }
}