.Text {
    width: 300px;
    height: 80px;
    margin-top: 200px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: center;
}

.Text span {
    color: #BEDBB0;
}