:root {
  --font-family : Poppins, sans-serif;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Sidebar {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 111;
  background-color: #1515154D;
}

.SideBardContent {
  width: 225px;
  height: 100vh;
  overflow: visible;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SideLogo {
  padding-top: 14px;
  margin-left: 14px;
}

.Boards {
  width: 197px;
  height: 18px;
  padding: 0 0 8px 14px;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #16161680;
  margin: 70px 0 0 0;
}

.CreateBoardSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 197px;
  height: 70px;
  margin: 0 14px;
  border-top: 1px solid #1616161A;
  border-bottom: 1px solid #1616161A;
}

.CreateBoardSection svg{
  fill: #BEDBB0;
}

.CreateBoard {
  width: 76px;
  height: 42px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 0;
}

.CreateBoardBtn {
  width: 40px;
  height: 36px;
  background: #BEDBB0;
  border: none;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.HelpSection {
  width: 165px;
  height: 210px;
  border-radius: 8px;
  background-color: #F6F6F7;
  margin: 0 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.HelpSection p {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 150px;
  height: 80px;
}

.HelpSection span {
  color: #BEDBB0;
}

.HelpBtn{
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 97px;
  justify-content: space-between;
  height: 20px;
}

.HelpBtn .HelpCircle {
  border: 2px solid black;
  border-radius: 50px;
  color: #121212;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.LogOut {
  width: 105px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  background-color: #FFFFFF;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  margin: 20px 0 0 10px;
  cursor: pointer;
  padding: 0;
}

.LogOut svg {
  stroke: #BEDBB0;
}

/*Theme*/

.Sidebar.violet .SideBardContent,
.Sidebar.violet .LogOut {
  background-color: #5255BC;
  color: #FFFFFF;
}

.Sidebar.violet .Boards,
.Sidebar.violet .NeonProject h2,
.Sidebar.dark .Boards,
.Sidebar.dark .NeonProject h2{
  color: #FFFFFF80;
}

.Sidebar.dark .CreateBoardSection,
.Sidebar.violet .CreateBoardSection{
  border-top: 1px solid #FFFFFF1A;
  border-bottom: 1px solid #FFFFFF1A;
}

.Sidebar.violet .HelpSection{
  background-color: #ECEDFD66;
}

.Sidebar.dark .HelpSection{
  background-color: #1F1F1F;
}

.Sidebar.violet .HelpSection span{
  color:#5255BC;
}

.Sidebar.violet .HelpSection .HelpBtn,
.Sidebar.dark .HelpSection .HelpBtn{
  color: #FFFF;
}

.Sidebar.violet .HelpBtn .HelpCircle,
.Sidebar.dark .HelpBtn .HelpCircle{
  color: #FFFF;
  border-color: #FFFFFF;
}


.Sidebar.violet .CreateBoardSection .CreateBoardBtn{
  background-color: #B8BCFD;
  color: #FFFFFF;
} 

.Sidebar.dark .SideBardContent,
.Sidebar.dark .LogOut{
  background-color: #121212;
  color: #FFFFFF;
}

.Sidebar.violet .LogOut svg {
  stroke: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .SideBardContent {
    width: 260px;
  }

  .SideLogo{
    padding-top: 24px;
    margin-left: 24px;
  }

  .Boards {
    padding: 0 0 8px 24px;
  }
  .CreateBoardSection {
    width: 212px;
    margin: 0 24px 10px 24px;
  }

  .HelpSection {
    width: 180px;
    height: 240px;
    margin: auto;
  }
  .HelpSection p {
    width: 172px;
    height: 102px;
    font-size: 14px;
    line-height: 20px;
  }

  .LogOut {
    margin: 0 24px;
  }
}

@media screen and (min-width: 1200px) {
  .Sidebar{
    width: 225px;
    background-color: transparent;
  }
}