.Sidebar {
  width: 100%;
  height: auto;
  min-height: 106.2vh;
  position: absolute;
  inset: 0; 
  background-color: #1515154D;
}

.SideBardContent {
  width: 225px;
  height: 100%;
  overflow: visible;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.SideLogo {
  padding-top: 14px;
  margin-left: 14px;
}

.Boards {
  width: 197px;
  height: 18px;
  padding: 0 0 8px 14px;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #16161680;
  margin: 70px 0 0 0;
}

.CreateBoardSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 197px;
  height: 70px;
  margin: 0 14px 10px 14px;
  border-top: 1px solid var(--black-161A);
  border-bottom: 1px solid var(--black-161A);
}

.CreateBoardSection svg{
  fill: var(--green);
}

.CreateBoard {
  width: 76px;
  height: 42px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 0;
}

.CreateBoardBtn {
  width: 40px;
  height: 36px;
  background: var(--green);
  border: none;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.helpLogOutContainer{
  width: 230px;
  height: 310px;
  display: flex;
  flex-direction: column;
}

.HelpSection {
  width: 165px;
  height: 210px;
  border-radius: var(--border-radius);
  background-color: #F6F6F7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  padding: 15px;
}

.HelpSection p {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 150px;
  height: 80px;
}

.HelpSection span {
  color: var(--green);
}

.HelpBtn{
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 110px;
  justify-content: space-between;
  height: 20px;
}

.HelpBtn .HelpCircle {
  border: 2px solid var(--black);
  border-radius: 50px;
  color: var(--black);
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.LogOut {
  width: 105px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  background-color: var(--white);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: var(--line-height);
  text-align: left;
  margin: 20px 0 0 10px;
  cursor: pointer;
  padding: 0;
}

.LogOut svg {
  stroke: var(--green);
}

/*Theme*/

.Sidebar.violet .SideBardContent,
.Sidebar.violet .LogOut {
  background-color: var(--violet);
  color: var(--white);
}

.Sidebar.violet .Boards,
.Sidebar.violet .NeonProject h2,
.Sidebar.dark .Boards,
.Sidebar.dark .NeonProject h2{
  color: var(--white-grey);
}

.Sidebar.dark .CreateBoardSection,
.Sidebar.violet .CreateBoardSection{
  border-top: 1px solid var(--F1A-grey);
  border-bottom: 1px solid var(--F1A-grey);
}

.Sidebar.violet .HelpSection{
  background-color: #ECEDFD66;
}

.Sidebar.dark .HelpSection{
  background-color: #1F1F1F;
}

.Sidebar.violet .HelpSection span{
  color:var(--violet);
}

.Sidebar.violet .HelpSection .HelpBtn,
.Sidebar.dark .HelpSection .HelpBtn{
  color: var(--FFF-white);
}

.Sidebar.violet .HelpBtn .HelpCircle,
.Sidebar.dark .HelpBtn .HelpCircle{
  color: var(--FFF-white);
  border-color: var(--white);
}


.Sidebar.violet .CreateBoardSection .CreateBoardBtn{
  background-color: var(--white-violet);
  color: var(--white);
} 

.Sidebar.dark .SideBardContent,
.Sidebar.dark .LogOut{
  background-color: var(--black);
  color: var(--white);
}

.Sidebar.violet .LogOut svg {
  stroke: var(--white);
}

@media screen and (min-width: 768px) {
  .SideBardContent {
    width: 260px;
  }

  .SideLogo{
    padding-top: 24px;
    margin-left: 24px;
  }

  .Boards {
    padding: 0 0 8px 24px;
  }

  .CreateBoardSection {
    width: 212px;
    margin: 0 24px 20px 24px;
  }

  .helpLogOutContainer{
    width: 260px;
    height: 350px;
    gap:20px;
  }

  .HelpSection {
    width: 180px;
    height: 240px;
  }

  .HelpSection p {
    width: 172px;
    height: 102px;
    font-size: 14px;
    line-height: 20px;
  }

  .LogOut {
    margin: 0 24px;
  }
}

@media screen and (min-width: 1200px) {
  .Sidebar{
    width: 225px;
    background-color: transparent;
  }
}