.IconContainer {
    display: flex;
    gap: 8px;
}

.IconContainer input {
    display: none;
}

.Icon {
    stroke: var(--black1680);
    fill: var(--FFF-white);
    cursor: pointer;
    transition: stroke fill var(--transition);
}

.Icon.dark{
    stroke: var(--white-grey);
    fill: var(--black1680);
}

.Icon:hover,
.Icon:focus {
    transform:scale(1.5);
    transition: transform var(--transition);
} 

.Icon.dark:hover{
    stroke: var(--green);
}